<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  

    <link rel="stylesheet" href="style/style.css">
</head>

<body>

 <main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <img :src="immagine" alt="">
    

    <h1> Ciao, {{ message }}  {{ car }} 
    
    
    </h1>    
    
    <label for="h1Text">Write here </label>
    <input type="text" v-model="message"> <br>

    <label for="urlImage">Display your image</label> 
    <input type="text" v-model="immagine">
    
    </div>

 </main>
  
    <script type="text/javascript" src="js/script.js"></script>  

</body>


</html>